@model Shelf_Share.Models.MyShelfViewModels.IndexMyShelfViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>My Shelf</h2>

<table class="table-condensed">


    @foreach (var book in Model.MyShelfBooks)
    {
    <tr>
        <td><strong>@book.Title</strong> 
        <br />by @book.Author.AuthorName</td>
        <td> <a asp-area="" asp-controller="MyShelf" asp-action="BookDetails/@book.Id" title="BookDetails">   Details</a></td>
    </tr>
    }
</table>


