
@{
    ViewData["Title"] = "SearchUsers";
}

<h2>Search For A Friend</h2>

<div class="row">
    <div class="col-md-4">
        <form method="get" action="@Url.Action("UserSearchResults", "MyShelf")">

            <br />
            <input type="email" value="" name="email" class="form-control" id="searchBox" aria-describedby="searchBox" placeholder="Enter Email or Username" required>

            <br />
            <button type="submit" class="btn btn-primary">Search</button>

        </form>
    </div>
</div>