
@{
    ViewData["Title"] = "SearchBooks";
}

<h2>Search Books</h2>

<div class="row">
    <div class="col-md-4">
        <form method="get" action="@Url.Action("AuthorBookSearchResults", "MyShelf")">

            <div>
                Search by:<br />
                Author   @Html.RadioButton("SearchType", "Author")
                Title @Html.RadioButton("SearchType", "Title") 
            </div>

            <br />
            <input type="text" value="" name="searchInput" class="form-control" id="searchBox" aria-describedby="searchBox" placeholder="Enter Author or Title" required>
           
            <br />
            <button type="submit" class="btn btn-primary">Search</button>

        </form>
    </div>
</div>


